# Macos stuff
.DS_Store
._.DS_Store
._*.pdf

# Unused resources
resources/01-PIMA_-_EDA_code_snippets.zip
resources/amazonReview-sentiment_code_snippets.zip
resources/CA3-ARM_full_code_snippets.zip
resources/CA3-ARM_spec_code_snippets.zip
resources/CA3-Clus_full_code_snippets.zip
resources/CA3-Clus_spec_code_snippets.zip
resources/CA3data.zip
resources/CA3-RS_full_code_snippets.zip
resources/CA3-RS_spec_code_snippets.zip
resources/CA-ARM_full_code_snippets.zip
resources/CA-ARM_spec_code_snippets.zip
resources/CA-Clus_full_code_snippets.zip
resources/CA-Clus_spec_code_snippets.zip
resources/CAdata.zip
resources/CA-RS_full_code_snippets.zip
resources/CA-RS_spec_code_snippets.zip
resources/clusSupport.zip
resources/ClusterCategoricals_code_snippets.zip
resources/Cluster_KModes_code_snippets.zip
resources/complexDataForClustering.npy
resources/filmtrust.zip
resources/GenBlob_Scores_code_snippets.zip
resources/GenDist_AGNES_code_snippets.zip
resources/GMM_DBSCAN_code_snippets.zip
resources/GMM_KM_code_snippets.zip
resources/inaug_speeches.csv
resources/isolet1.csv
resources/KLmotivation_code_snippets.zip
resources/KM_GMM_code_snippets.zip
resources/KNN_code_snippets.zip
resources/KNN_DT_code_snippets.zip
resources/Logistic_Regression_code_snippets.zip
resources/LR_code_snippets.zip
resources/LR_Ens_code_snippets.zip
resources/LR_pipe_code_snippets.zip
resources/LR_Regularisation_code_snippets.zip
resources/mnist.mat
resources/NB_KNN_code_snippets.zip
resources/NB_SVM_code_snippets.zip
resources/NLTK_example_code_snippets.zip
resources/PCA_introduction_code_snippets.zip
resources/pima-indians-diabetes.csv
resources/pima-indians-diabetes.data.csv
resources/PYOD_Digits_code_snippets.zip
resources/Reviews1000.csv
resources/sklearn_TF-IDF_code_snippets.zip
resources/SlopeOne_code_snippets.zip
resources/Surprise_FilmTrust_code_snippets.zip
resources/Surprise_MovieLens_code_snippets.zip
resources/Visualise_code_snippets.zip
resources/yelpReview-sentiment_code_snippets.zip
